$dark-bg: rgb(26, 24, 24);
$roku-purple: #6C3C97;

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

//COLOURS
$dark_grey: #3e3e3e;
$purple: #40294e;
$light-grey: rgb(89, 89, 89);
$low-opacity-white: rgba(255, 255, 255, 0.208);


//FONTS
$main-font: 'Rubik', ;