@import '_vars';
@import 'modules/_main';
@import 'modules/_usercomponent';
@import 'modules/_userhomecomponent';
@import 'modules/_footer';
@import 'modules/_login';
@import 'modules/_mediaqueries';
@import 'modules/_loginComponent';



//GENERAL STYLING
.hidden {
    display: none;
}

audio {
        /* width: 70%; */
        margin: 0 13%;
        position: relative;
        /* bottom: 12%; */
        margin-top: 34%;
        opacity: 0.8;
}