<section id="login-container">
    <div id="login-header">
        <a href="help.html">Help</a>
    </div>
    <div id="stacked-logo">
        <img src="images/roku-logo-stacked.svg" alt="Roku Flashback Logo">
    </div>
    <form @submit.prevent="login">
        <div class="login-form">
            <div class="username-field">
                <label for="inlineFormInputName">Name</label>
                <input v-model="input.username" type="text" placeholder="username" required>
            </div>

            <div class="password-field">
                <label for="inlineFormPassword">Name</label>
                <input v-model="input.password" type="password" placeholder="password" required>
            </div>

            <div class="submit-button">
                <button type="submit">Go!</button>
            </div>
        </div>
    </form>  
</section>

