<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">

  <!-- CSS links -->
   <link rel="stylesheet" href="css/reset.css">
   <link rel="stylesheet" href="css/main.css">

   <!-- Fonts links -->
   <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

   <!-- Vue links -->
   <script src="https://unpkg.com/vue"></script>
   <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <title>ROKU FLASHBACK</title>
</head>
<body>
  <main id="app">
    <div class="container-fluid">
      <div class="row">
        <header>
          <div id="header-logo-roku">
            <img src="images/logo_w_flashback-01.svg" alt="Logo Roku">
          </div>
          <nav class="float-right">
            <ul>
              <!-- <li>Kids</li> -->
              <li v-if="authenticated"><i class="fas fa-user-circle"></i></li>
              <li v-if="administrator"><i class="fas fa-cog"></i></li>
              <li v-if="authenticated" v-on:click="logout()"><i class="fas fa-power-off"></i></li>
            </ul>
          </nav>
        </header>
      </div>
    </div> <!-- end container fluid -->

    <section id="movies-section">
      <h1 class="hidden">Movies to choose from...</h1>
      <!-- movies trending now -->
      <div id="trending-now">
        <h1>Trending Now</h1>
        <div id="movies-flexbox">
          <img src="images/parasite_home_trending.jpg" alt="Parasite Thumbnail">
          <img src="images/killingeve_home_trending.jpg" alt="Killing Eve Thumbnail">
        </div>
        <!-- movies recommended for you-->
      <div id="recommended">
        <h1>Recommended for you</h1>
        <div id="movies-flexbox">
          <img src="images/thesimpsons.jpg" alt="The Simpsons Thumbnail">
          <img src="images/beautynbeast.jpg" alt="The beauty and the beast Thumbnail">
          <img src="images/thebigbangtheory.jpg" alt="The big bang theory Thumbnail">
      </div>

      </div>
    </section>
    <!-- first thing in component templates should be a container -->
    <router-view @authenticated="setAuthenticated"/>
  </main>

  <footer>
    <nav>
      <ul>
        <li>
          <a href="index.html">
            <img src="images/home_icon.svg" alt="Home">
          </a>
        </li>
        <li>
          <a href="index.html">
            <img src="images/search_icon.svg" alt="Search">
          </a>
        </li>
        <li id="more-icon">
          <a href="index.html">
            <img  src="images/more_icon.svg" alt="More">
          </a>
        </li>
      </ul>
    </nav>
    
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script type="module" src="js/main.js"></script>
</body>

</html>