.user-message { 
    margin: 0.25em 0 1em; 
    text-align: center;
    font-size: 2rem;
    margin-top: 8%;
}

.card-body { 
    cursor: pointer;  
    color: $white;
    margin-bottom: 1em;

    p { margin: 10px 0 0; }
}