#homeCon {
    margin-top: 5%;

    .row {
        margin: 0;
    }
}

.fs-video { width: 100% }

.media-container { background: darken($dark-bg, 15%)}
.media-container:first-of-type { padding-bottom: 1em; }
.media-container:last-of-type { padding-left: 0; padding-right: 0; }

.media-title { 
    font-size: 1.5em; 
    padding-top: 1em;
    font-weight: bolder; 
}